
@{
    Layout = "~/Views/Shared/_MuTheme.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main_Index</title>
</head>
<body >
    <div>
       
        <h1>Welcome</h1>
    </div>
</body>
</html>
